# Libraries
*.lvlibp
*.llb

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe

# Metadata
*.aliases
*.lvlps
.cache/

__pycache__/
# exclude everything
res/dataset/*
# exception to the rule
!res/dataset/files/.gitkeep